<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RedOctober.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C32B22D21C12909B000D6065</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C32B22E61C12909B000D6065</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C32B22F11C12909B000D6065</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
